{% extends "search_tab.html" %}
{% block content %}
<div class="dashboard">
  <div class="frame">
    <div class="board">
      <div class="event-details">
        <div class="top">
            <h1 class="prompt">Are you sure you want to delete</h1>
            <h1 class="prompt">"{{ event_name }}" event?</h1>
        </div>
        <!-- Start of the form -->
        <form action="{{ url_for('are_you_sure', event_id=event_id) }}" method="post">
          <div class="middle">      
            <div class="buttons-container">
              <button type="submit" class="btn-submit btn-yes" name="yes" value="yes">YES</button>
              <button type="button" class="btn-submit btn-no" onclick="window.history.back();">NO</button>
            </div>
          </div>
        </form>
        <!-- End of the form -->
      </div>
    </div>
  </div>
</div>
{% include "base_input.html" %}
<style>
.dashboard {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.frame {
  background: #786554;
  position: relative;
  padding: 20px 20px 20px 20px;
  width: 1007px;
  overflow: visible;
}
.board {
  background: #d9d9d9;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.event-details {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.btn-submit {
  background: #a2b7ca;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  position: relative;
}
.btn-txt {
  color: #1e1e1e;
  text-align: center;
  font: 700 30px "Ubuntu Mono", sans-serif;
  position: relative;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.btn-no {
  background: #cd6262;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  position: relative;
}
.btn-yes {
  background: #91d48a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  position: relative;
}
.top h1 {
  font: 700 40px "Ubuntu Mono", sans-serif;
  color: #3f3f3f;
  text-shadow: 0 0 BLACK;
  text-align: center;
}
</style>
{% endblock %}