{% block style %}
<style>
.event-list {
padding: 45px 45px 45px 45px;
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
justify-content: center;
position: relative;
height: 100%;
}
.event-content {
  display: flex;
  flex-direction: row;
}
.frame-event {
background: #a2b7ca;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 20px;
border-radius: 15px;
width: 100%;
height: fit-content;
position: relative;
}
.left {
display: flex;
flex-direction: column;
gap: 10px;
height: fit-content;
width: fit-content;
align-items: flex-start;
justify-content: flex-start;
position: relative;
}
.event-image {
width: 350px;
height: 190px;
position: relative;
max-width: 95%;
max-height: 95%;
display: block;
border-radius: 15px;
border: 5px solid #656e7a;
object-fit: cover;
}
.right {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
flex-wrap: column;
height: fit-content;
position: relative;
}
.frame-info {
display: flex;
flex-direction: column;
gap: 15px;
align-items: flex-start;
justify-content: flex-start;
position: relative;
height: 100%;
}
.event-name-txt {
color: #000000;
text-align: left;
font: 400 30px "Ubuntu Condensed", sans-serif;
position: relative;
}
.event-details-txt {
color: #000000;
text-align: left;
font: 400 25px "Ubuntu Condensed", sans-serif;
position: relative;
}
.frame-event-btn {
height: 190px;
width: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
position: relative;
}
.btn-bookmark {
position: relative;
overflow: visible;
background: transparent;
border: none;
padding: 0%;
}
.btn-alarm {
position: relative;
overflow: visible;
background: transparent;
border: none;
padding: 0%;
}
.btn-calendar {
position: relative;
overflow: visible;
background: transparent;
border: none;
padding: 0%;
}
.btn-event-details {
position: relative;
overflow: visible;
background: transparent;
border: none;
padding: 0%;
}
.btn-edit {
position: relative;
overflow: visible;
background: transparent;
border: none;
}
.svg-event {
width: 50px;
height: fit-content;
}
</style>
{% endblock %}