{% block style %}
<style>
    .input {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    }
    textarea {
    padding: 10px;
    border: 2px solid #657895;
    }
    input {
    padding: 10px;
    border: 2px solid #657895;
    }
    .input-txt {
    color: #1e1e1e;
    text-align: left;
    width: 100%;
    font: 400 25px "Ubuntu Condensed", sans-serif;
    position: relative;
    }
    .input-txt-white {
    color: #ffffff;
    text-align: left;
    width: 100%;
    font: 400 25px "Ubuntu Condensed", sans-serif;
    position: relative;
    }
    button {
    background: #a2b7ca;
    border-radius: 15px;
    flex-shrink: 0;
    width: auto;
    height: auto;
    position: relative;
    color: #202e44;
    text-align: center;
    font: 700 28px "Ubuntu Mono", sans-serif;
    padding: 10px 20px 10px 20px;
    }
    .required::before {
    color: red;
    font: 400 25px "Ubuntu Condensed", sans-serif;
    content: "* ";  
    }
</style>
{% endblock %}