{% extends "bookmark_tab.html" %}
{% block content %}
<div class="dashboard">
  <div class="frame">
    <div class="board">
      <div class="event-list">
        {%if not bookmarked_events%}
        <div class="no-bookmark">
          <p style="font-size: 40px;">You currently don't have any bookmarked events...</p>
          <p style="font-size: 30px;">Try bookmarking events from main dashboard.</p>
        </div>
        {%else %}
          {% for event in bookmarked_events %}
            {% with event=event %}
              {% include "bookmarked_event.html" %}
            {% endwith %}
          {% endfor %}
        {%endif%}         
      </div>
    </div>
  </div>
</div>
{% include "base_event.html" %}
<style>
* {
  box-sizing: border-box;
}
.dashboard {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  position: relative;
}
.board {
  background: #d9d9d9;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 1080px;
  border: 20px solid #786554;
}
.no-bookmark {
  color: #1e1e1e;
  text-align: left;
  font: 400 32px "Ubuntu Condensed", sans-serif;
  position: relative;
  width: 100%;
}
</style>  
{% endblock %}