{% block event %}
<div class="frame-event">
    <div class="left">
      <!-- <img class="event-image" src="image-1.png" /> -->
      <img src="{{ url_for('static', filename='event_photos/' + event['event_type'].lower() + '.png') }}" alt="Image" class="event-image">
      <svg
      class="rating"
      width="220"
      height="40"
      viewBox="0 0 220 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      >
      <path
          d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
          fill="#FF9900"
          stroke="#838383"
          stroke-width="2"
      />
      <path
          d="M65 0L69.4903 13.8197H84.0211L72.2654 22.3607L76.7557 36.1803L65 27.6393L53.2443 36.1803L57.7346 22.3607L50.9789 13.8197H60.5097L65 0Z"
          fill="#FF9900"
          stroke="#838383"
          stroke-width="2"
      />
      <path
          d="M110 0L114.49 13.8197H129.021L117.265 22.3607L121.756 36.1803L110 27.6393L98.2443 36.1803L102.735 22.3607L90.9789 13.8197H105.51L110 0Z"
          fill="#FF9900"
          stroke="#838383"
          stroke-width="2"
      />
      <path
          d="M155 0L159.49 13.8197H174.021L162.265 22.3607L166.756 36.1803L155 27.6393L143.244 36.1803L147.735 22.3607L135.979 13.8197H150.51L155 0Z"
          stroke="#838383"
          stroke-width="2"
      />
      <path
          d="M200 0L204.49 13.8197H219.021L207.265 22.3607L211.756 36.1803L200 27.6393L188.244 36.1803L192.735 22.3607L180.979 13.8197H195.51L200 0Z"
          stroke="#838383"
          stroke-width="2"
      />
      </svg>
    </div>
    <div class="right">
      <div class="frame-info">
        <div class="event-name-txt">Name: {{ event['name'] }}</div>
        <div class="event-details-txt">Date: {{ event['date'] }}</div>
        <div class="event-details-txt">Time: {{ event['time'] }}</div>
        <div class="event-details-txt">Location: {{ event['location'] }}</div>
      </div>
      <div class="frame-event-btn">
        <form method="POST" action="/bookmark">
          <button class="btn-bookmark" type="submit" name="remove-from-bookmarks" value="{{ event['id'] }}">
            <svg
              id="btn-bookmark-svg"
              class="btn-bookmark"
              width="27"
              height="54"
              viewBox="0 0 27 54"
              fill="#A34A4A"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
              d="M12.7929 39.7929L1 51.5858V1H26V51.5858L14.2071 39.7929L13.5 39.0858L12.7929 39.7929Z"
              stroke="#A34A4A"
              stroke-width="2"
              />
            </svg>
          </button>
        </form>
        <form method="POST" action="{{ url_for('download_ics_file') }}">
          <button name="export-calendar" id="btn-calendar" class="btn-calendar" value="{{ event['id'] }}"> 
            <svg
                class="btn-calendar"
                width="48"
                height="54"
                viewBox="0 0 48 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                d="M0.0675 0V13.5H47.3175V0H0.0675ZM0.0675 20.25V53.3925C0.0675 53.73 0.3375 54 0.675 54H46.6425C46.98 54 47.25 53.73 47.25 53.3925V20.25H0H0.0675ZM6.8175 27H13.5675V33.75H6.8175V27ZM20.3175 27H27.0675V33.75H20.3175V27ZM33.8175 27H40.5675V33.75H33.8175V27ZM6.8175 40.5H13.5675V47.25H6.8175V40.5ZM20.3175 40.5H27.0675V47.25H20.3175V40.5Z"
                fill="#7CA34A"
                />
            </svg>
          </button>
        </form>
        <form method="POST" action="/bookmark">
        <button name="event-details" class="btn-event-details" value="{{ event['id'] }}">
          <svg
              class="btn-event-details"
              width="68"
              height="47"
              viewBox="0 0 68 47"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
          >
              <path
              d="M42.5 0V15.6667H0V31.3333H42.5V47L68 23.265L42.5 0Z"
              fill="#657895"
              />
          </svg>
        </button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}