{% block event %}
<div class="frame-myevent">
    <div class="left">
        <!-- <img class="event-image" src="image-1.png" /> -->
        <img class="event-image" src="{{ url_for('static', filename='event_photos/' + event['event'].event_type.lower() + '.png') }}" alt="Event Image"/>
        <div class="sub-bottom">
            <div class="rating">
            {% set avg_rating = event['event'].average_rating if event['event'].average_rating is not none else 0 %}
            {% for i in range(1, 6) %}
                {% if i <= avg_rating %}
                    <!-- Full star -->
                    <svg class="svg-star" fill="#FF9900" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m13.7276 3.44418 1.7598 3.5487c.24.49399.8799.96782 1.4199 1.05855l3.1896.53432c2.0398.34278 2.5198 1.83485 1.0499 3.30675l-2.4797 2.5002c-.42.4234-.6499 1.24-.52 1.8248l.71 3.095c.5599 2.4498-.73 3.3975-2.8797 2.1171l-2.9897-1.7844c-.5399-.3226-1.4298-.3226-1.9798 0l-2.98963 1.7844c-2.13977 1.2804-3.43962.3226-2.87968-2.1171l.70992-3.095c.12998-.5848-.09999-1.4014-.51995-1.8248l-2.47972-2.5002c-1.45984-1.4719-.98989-2.96397 1.04988-3.30675l3.18965-.53432c.52994-.09073 1.16987-.56456 1.40984-1.05855l1.75979-3.5487c.9599-1.92557 2.5197-1.92557 3.4696 0z" stroke="#838383" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
                {% else %}
                    <!-- Empty star -->
                    <svg class="svg-star" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m13.7276 3.44418 1.7598 3.5487c.24.49399.8799.96782 1.4199 1.05855l3.1896.53432c2.0398.34278 2.5198 1.83485 1.0499 3.30675l-2.4797 2.5002c-.42.4234-.6499 1.24-.52 1.8248l.71 3.095c.5599 2.4498-.73 3.3975-2.8797 2.1171l-2.9897-1.7844c-.5399-.3226-1.4298-.3226-1.9798 0l-2.98963 1.7844c-2.13977 1.2804-3.43962.3226-2.87968-2.1171l.70992-3.095c.12998-.5848-.09999-1.4014-.51995-1.8248l-2.47972-2.5002c-1.45984-1.4719-.98989-2.96397 1.04988-3.30675l3.18965-.53432c.52994-.09073 1.16987-.56456 1.40984-1.05855l1.75979-3.5487c.9599-1.92557 2.5197-1.92557 3.4696 0z" stroke="#838383" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
                {% endif %}
            {% endfor %}
            </div> 
        </div>
    </div>
    <div class="frame-info">
        <a href="{{ url_for('show_event_details', event_id=event['event'].id) }}" class="event-name-txt"><b>{{ event['event'].name }}</b></a>
        <div class="event-details-txt">Date: {{ event['event'].date }}</div>
        <div class="event-details-txt">Time: {{ event['event'].time }}</div>
        <div class="notif">
            <form action="{{ url_for('my_account_notification') }}" method="POST" style="margin: 0%; height: 100%;">
                <input type="hidden" name="updated_event_id" value="{{ event['event'].id }}">
                <label for="set-notif-{{ event.id }}" class="set-notif">Set to:</label>
                <select id="set-notif-{{ event.id }}" name="updated_notification" class="dropdown" onchange="this.form.submit()">
                    <option value="30-mins" {% if event.notification_preference == 30 %}selected{% endif %}>30 minutes before</option>
                    <option value="1-hour" {% if event.notification_preference == 60 %}selected{% endif %}>1 hour before</option>
                    <option value="1-day" {% if event.notification_preference == 1440 %}selected{% endif %}>1 day before</option>
                    <option value="1-week" {% if event.notification_preference == 10080 %}selected{% endif %}>1 week before</option>
                </select>
            </form>
            <form method="POST" action="{{ url_for('download_ics_file') }}">
                <input type="hidden" name="preference" value="{{ event['notification_preference'] }}">
                <button name="export-calendar" id="btn-calendar" class="btn-calendar" value="{{ event['event'].id }}" style="padding: 0%"> 
                    <svg class="svg-event" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#4F7942" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m15 19.5c.4915.5057 1.7998 2.5 2.5 2.5m2.5-2.5c-.4915.5057-1.7998 2.5-2.5 2.5m0 0v-8"/><path d="m18 2v2m-12-2v2"/><path d="m12.5 22h-1.45c-4.03051 0-6.04576 0-7.29788-1.3536-1.25212-1.3537-1.25212-3.5323-1.25212-7.8896v-.5136c0-4.35726 0-6.53592 1.25212-7.88956s3.26737-1.35364 7.29788-1.35364h1.9c4.0305 0 6.0458 0 7.2979 1.35364 1.1788 1.27439 1.2478 3.28 1.2518 7.14636"/><path d="m3 8h18"/></g></svg>
                </button>
            </form> 
        </div> 
    </div>
</div>
<hr color="#657895" width="95%" height="2px" />
{% endblock %}