{% extends "search_tab.html" %}
{% block content %}
<div class="dashboard">
  <div class="frame">
    <div class="board">
      <div class="frame-event-details">
        <div class="top">
          <form method="POST" action="{{ url_for('attend_event', event_id=event.id) }}" class="form-button">
            <div class="attend-button-container">
              {% if flag == 'attending' %}
                <input type="hidden" name="action" value="unattend">
                <button class="btn-submit" type="submit" id="already-attend-btn">ALREADY ATTENDING</button>
              {% else %}
                <input type="hidden" name="action" value="attend">
                <button class="btn-submit" type="submit" id="attend-btn">ATTEND</button>
              {% endif %}
            </div>
          </form>
          <div class="name"><b>{{ event.name }}</b></div>
        </div>
        <div class="middle">
          <div class="left">
            <img class="event-image" src="{{ url_for('static', filename='event_photos/' + event['event_type'].lower() + '.png') }}" alt="Event Image"/>
            <div class="frame-btn2">
              <form method="POST" class="form-button">
                <button class="btn-bookmark" type="submit" name="bookmark" id="btn-bookmark" value="{{ event['id'] }}">
                    {% if event['id'] in bookmarked_events %}
                        <svg
                            id="btn-bookmark-svg"
                            class="btn-bookmark"
                            width="27"
                            height="54"
                            viewBox="0 0 27 54"
                            fill="#A34A4A"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M12.7929 39.7929L1 51.5858V1H26V51.5858L14.2071 39.7929L13.5 39.0858L12.7929 39.7929Z"
                            stroke="#A34A4A"
                            stroke-width="2"
                            />
                        </svg>
                    {% else %}
                        <svg
                        id="btn-bookmark-svg"
                        class="btn-bookmark"
                        width="27"
                        height="54"
                        viewBox="0 0 27 54"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                        d="M12.7929 39.7929L1 51.5858V1H26V51.5858L14.2071 39.7929L13.5 39.0858L12.7929 39.7929Z"
                        stroke="#A34A4A"
                        stroke-width="2"
                        />
                        </svg>
                    {% endif %}
                </button>
              </form>
              <form method="POST" action="{{ url_for('download_ics_file') }}" class="form-button">
                <button name="export-calendar" id="btn-calendar" class="btn-calendar" value="{{ event['id'] }}">
                  <svg
                    class="btn-calendar"
                    width="45"
                    height="50"
                    viewBox="0 0 45 50"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0.607422 0V12.5H44.3574V0H0.607422ZM0.607422 18.75V49.4375C0.607422 49.75 0.857422 50 1.16992 50H43.7324C44.0449 50 44.2949 49.75 44.2949 49.4375V18.75H0.544922H0.607422ZM6.85742 25H13.1074V31.25H6.85742V25ZM19.3574 25H25.6074V31.25H19.3574V25ZM31.8574 25H38.1074V31.25H31.8574V25ZM6.85742 37.5H13.1074V43.75H6.85742V37.5ZM19.3574 37.5H25.6074V43.75H19.3574V37.5Z"
                      fill="#7CA34A"
                    />
                  </svg>
                </button>
              </form> 
              <svg
                class="btn-share"
                width="58"
                height="50"
                viewBox="0 0 58 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M36.0717 0V14.2857C7.50028 14.2857 0.357422 28.9286 0.357422 50C4.07171 35.8571 14.6431 28.5714 28.9289 28.5714H36.0717V42.8571L57.5003 20.2857L36.0717 0Z"
                  fill="#657895"
                />
              </svg>
            </div>
          </div>
          <div class="right">
            <div class="frame-info">
              <div class="date">Date: <b>{{ event.date }}</b></div>
              <div class="time">Time: <b>{{ event.time }}</b></div>
              <div class="location">Location: <b>{{ event.location }}</b></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          {% if event.reg_link %}
          <div class="registration">
              Register here: {{ event.reg_link }}
          </div>
          {% endif %}
          <div class="description">
              Event description: {{ event.description }}
          </div>
          <div class="review">Reviews:</div>                    
        </div>
      </div>
    </div>
</div>
<style>
.dashboard {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.frame {
  background: #786554;
  position: relative;
  padding: 20px 20px 20px 20px;
  overflow: visible;
}
.board {
  background: #d9d9d9;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-event-details {
  padding: 20px 54px 20px 54px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.event-image {
flex-shrink: 0;
width: 365px;
height: 189px;
position: relative;
max-width: 95%;
max-height: 95%;
display: block;
border-radius: 15px;
border: 5px solid #656e7a;
object-fit: cover;
}
.top {
  flex-shrink: 0;
  width: 910px;
  height: 47px;
  position: relative;
}
.rating {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  top: calc(50% - 16.5px);
  overflow: visible;
}
.name {
  color: #000000;
  text-align: left;
  font: 400 36px "Ubuntu Condensed", sans-serif;
  position: absolute;
  left: 0px;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.middle {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 350px;
}
.frame-btn2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 100%;
  height: fit-content;
  position: relative;
  margin-bottom: 15px;
}
.form-button {
  margin-block-end: 0%;
}
.btn-bookmark {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  background: transparent;
  border: none;
  padding: 0px;
}
.btn-calendar {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  background: transparent;
  border: none;
  padding: 0px;
}
.btn-share {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  background: transparent;
  border: none;
  padding: 0px;
}
.right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  width: 527px;
  position: relative;
}
.frame-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 463px;
  position: relative;
}
.date {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.time {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.location {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.registration {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.description {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.review {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.attend-button-container {
  display: flex;
  text-align: right;
  justify-content: flex-end; 
  align-items: center; 
  width: 100%;
}
#already-attend-btn {
  background:#cd6262;
  border:  #000000;
  color: #000000;
}
.btn-submit {
  background: #a2b7ca;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
  position: relative;
  cursor: pointer; 
  border: none; 
  color: #1e1e1e; 
  font: 700 30px "Ubuntu Mono", sans-serif; 
}
</style>  
{% endblock %}