{% block event %}
<div class="frame-myevent">
    <div class="left">
        <!-- <img class="event-image" src="image-1.png" /> -->
        <img class="event-image" src="{{ url_for('static', filename='event_photos/' + event['event'].event_type.lower() + '.png') }}" alt="Event Image"/>
        <div class="sub-bottom">
            <svg
            class="rating"
            width="220"
            height="40"
            viewBox="0 0 220 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
                d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                fill="#FF9900"
                stroke="#838383"
                stroke-width="2"
            />
            <path
                d="M65 0L69.4903 13.8197H84.0211L72.2654 22.3607L76.7557 36.1803L65 27.6393L53.2443 36.1803L57.7346 22.3607L45.9789 13.8197H60.5097L65 0Z"
                fill="#FF9900"
                stroke="#838383"
                stroke-width="2"
            />
            <path
                d="M110 0L114.49 13.8197H129.021L117.265 22.3607L121.756 36.1803L110 27.6393L98.2443 36.1803L102.735 22.3607L90.9789 13.8197H105.51L110 0Z"
                fill="#FF9900"
                stroke="#838383"
                stroke-width="2"
            />
            <path
                d="M155 0L159.49 13.8197H174.021L162.265 22.3607L166.756 36.1803L155 27.6393L143.244 36.1803L147.735 22.3607L135.979 13.8197H150.51L155 0Z"
                stroke="#838383"
                stroke-width="2"
            />
            <path
                d="M200 0L204.49 13.8197H219.021L207.265 22.3607L211.756 36.1803L200 27.6393L188.244 36.1803L192.735 22.3607L180.979 13.8197H195.51L200 0Z"
                stroke="#838383"
                stroke-width="2"
            />  
            </svg>    
        </div>
    </div>
    <form action="{{ url_for('my_account_notification') }}" method="POST" style="margin: 0%; height: 100%;">
        <div class="frame-info">
            <div class="event-name-txt">Name: {{ event['event'].name }}</div>
            <div class="event-details-txt">Date: {{ event['event'].date }}</div>
            <div class="event-details-txt">Time: {{ event['event'].time }}</div>
            <input type="hidden" name="updated_event_id" value="{{ event['event'].id }}">
            <div class="notif">
                <label for="set-notif-{{ event.id }}" class="set-notif">Set to:</label>
                <select id="set-notif-{{ event.id }}" name="updated_notification" class="dropdown" onchange="this.form.submit()">
                    <option value="30-mins" {% if event.notification_preference == 30 %}selected{% endif %}>30 minutes before</option>
                    <option value="1-hour" {% if event.notification_preference == 60 %}selected{% endif %}>1 hour before</option>
                    <option value="1-day" {% if event.notification_preference == 1440 %}selected{% endif %}>1 day before</option>
                    <option value="1-week" {% if event.notification_preference == 10080 %}selected{% endif %}>1 week before</option>
                </select>                    
                <form method="POST" action="{{ url_for('download_ics_file') }}">
                    <input type="hidden" name="preference" value="{{ event['notification_preference'] }}">
                    <button name="export-calendar" id="btn-calendar" class="btn-calendar" value="{{ event['event'].id }}" style="padding: 0%; padding-left: 20px;"> 
                        <svg class="svg-event" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#4F7942" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m15 19.5c.4915.5057 1.7998 2.5 2.5 2.5m2.5-2.5c-.4915.5057-1.7998 2.5-2.5 2.5m0 0v-8"/><path d="m18 2v2m-12-2v2"/><path d="m12.5 22h-1.45c-4.03051 0-6.04576 0-7.29788-1.3536-1.25212-1.3537-1.25212-3.5323-1.25212-7.8896v-.5136c0-4.35726 0-6.53592 1.25212-7.88956s3.26737-1.35364 7.29788-1.35364h1.9c4.0305 0 6.0458 0 7.2979 1.35364 1.1788 1.27439 1.2478 3.28 1.2518 7.14636"/><path d="m3 8h18"/></g></svg>
                    </button>
                </form>    
            </div>
        </div>
    </form>
</div>
<hr color="#657895" width="95%" height="2px" />
{% endblock %}