{% extends "search_tab.html" %}
{% block content %}
<div class="dashboard">
  <div class="frame">
    <div class="board">
      <div class="frame-event-details">
        <div class="top">
          <svg
            class="rating"
            width="220"
            height="40"
            viewBox="0 0 220 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
              fill="#FF9900"
              stroke="#838383"
              stroke-width="2"
            />
            <path
              d="M65 0L69.4903 13.8197H84.0211L72.2654 22.3607L76.7557 36.1803L65 27.6393L53.2443 36.1803L57.7346 22.3607L45.9789 13.8197H60.5097L65 0Z"
              fill="#FF9900"
              stroke="#838383"
              stroke-width="2"
            />
            <path
              d="M110 0L114.49 13.8197H129.021L117.265 22.3607L121.756 36.1803L110 27.6393L98.2443 36.1803L102.735 22.3607L90.9789 13.8197H105.51L110 0Z"
              fill="#FF9900"
              stroke="#838383"
              stroke-width="2"
            />
            <path
              d="M155 0L159.49 13.8197H174.021L162.265 22.3607L166.756 36.1803L155 27.6393L143.244 36.1803L147.735 22.3607L135.979 13.8197H150.51L155 0Z"
              stroke="#838383"
              stroke-width="2"
            />
            <path
              d="M200 0L204.49 13.8197H219.021L207.265 22.3607L211.756 36.1803L200 27.6393L188.244 36.1803L192.735 22.3607L180.979 13.8197H195.51L200 0Z"
              stroke="#838383"
              stroke-width="2"
            />
          </svg>

          <div class="name">Name: {{ event['name'] }}</div>
        </div>
        <div class="middle">
          <div class="left">
            <img class="image-1" src="{{ url_for('static', filename='event_photos/' + event['event_type'].lower() + '.png') }}" alt="Event Image"/>
            <div class="frame-btn2">
              <svg
                class="btn-bookmark"
                width="28"
                height="54"
                viewBox="0 0 28 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.544922 0V54L14.0449 40.5L27.5449 54V0H0.544922Z"
                  fill="#A34A4A"
                />
              </svg>

              <svg
                class="btn-calendar"
                width="45"
                height="50"
                viewBox="0 0 45 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.607422 0V12.5H44.3574V0H0.607422ZM0.607422 18.75V49.4375C0.607422 49.75 0.857422 50 1.16992 50H43.7324C44.0449 50 44.2949 49.75 44.2949 49.4375V18.75H0.544922H0.607422ZM6.85742 25H13.1074V31.25H6.85742V25ZM19.3574 25H25.6074V31.25H19.3574V25ZM31.8574 25H38.1074V31.25H31.8574V25ZM6.85742 37.5H13.1074V43.75H6.85742V37.5ZM19.3574 37.5H25.6074V43.75H19.3574V37.5Z"
                  fill="#7CA34A"
                />
              </svg>

              <svg
                class="btn-share"
                width="58"
                height="50"
                viewBox="0 0 58 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M36.0717 0V14.2857C7.50028 14.2857 0.357422 28.9286 0.357422 50C4.07171 35.8571 14.6431 28.5714 28.9289 28.5714H36.0717V42.8571L57.5003 20.2857L36.0717 0Z"
                  fill="#657895"
                />
              </svg>
            </div>
          </div>
          <div class="right">
            <div class="frame-info">
              <div class="date">Date: {{ event['date'] }}</div>
              <div class="time">Time: {{ event['time'] }}</div>
              <div class="location">Location: {{ event['location'] }}</div>
            </div>
          </div>
        </div>
        <div class="bottom">
          {% if event.get('register') != none %}
            <div class="registration">
              Register here: {{ event['register'] }}
            </div>
          {% endif %}
          <div class="description">
            Event description: {{ event['description'] }}
          </div>
          <div class="review">Reviews:</div>
        </div>
      </div>
    </div>
</div>

<style>
.dashboard {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.frame {
  background: #786554;
  position: relative;
  padding: 20px 20px 20px 20px;
  overflow: visible;
}
.board {
  background: #d9d9d9;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-event-details {
  padding: 14px 54px 14px 54px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.top {
  flex-shrink: 0;
  width: 910px;
  height: 47px;
  position: relative;
}
.rating {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  top: calc(50% - 16.5px);
  overflow: visible;
}
.name {
  color: #000000;
  text-align: left;
  font: 400 36px "Ubuntu Condensed", sans-serif;
  position: absolute;
  left: 0px;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.middle {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-1 {
  flex-shrink: 0;
  width: 365px;
  height: 189px;
  position: relative;
  max-width: 95%;
  max-height: 95%;
  display: block;
}
.frame-btn2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 365px;
  position: relative;
}
.btn-bookmark {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.btn-calendar {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.btn-share {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  width: 527px;
  position: relative;
}
.frame-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 463px;
  position: relative;
}
.date {
  color: #000000;
  text-align: left;
  font: 400 32px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.time {
  color: #000000;
  text-align: left;
  font: 400 32px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.location {
  color: #000000;
  text-align: left;
  font: 400 32px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.registration {
  color: #000000;
  text-align: left;
  font: 400 32px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.description {
  color: #000000;
  text-align: left;
  font: 400 32px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.review {
  color: #000000;
  text-align: left;
  font: 400 32px "Ubuntu Condensed", sans-serif;
  position: relative;
}
</style>  
{% endblock %}