{% block event %}
<div class="frame-myevent">
    <div class="left">
        <!-- <img class="event-image" src="image-1.png" /> -->
        <img class="event-image" src="{{ url_for('static', filename='event_photos/' + event['event'].event_type.lower() + '.png') }}" alt="Event Image"/>
        <div class="sub-bottom">
            <svg
            class="rating"
            width="220"
            height="40"
            viewBox="0 0 220 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
                d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                fill="#FF9900"
                stroke="#838383"
                stroke-width="2"
            />
            <path
                d="M65 0L69.4903 13.8197H84.0211L72.2654 22.3607L76.7557 36.1803L65 27.6393L53.2443 36.1803L57.7346 22.3607L45.9789 13.8197H60.5097L65 0Z"
                fill="#FF9900"
                stroke="#838383"
                stroke-width="2"
            />
            <path
                d="M110 0L114.49 13.8197H129.021L117.265 22.3607L121.756 36.1803L110 27.6393L98.2443 36.1803L102.735 22.3607L90.9789 13.8197H105.51L110 0Z"
                fill="#FF9900"
                stroke="#838383"
                stroke-width="2"
            />
            <path
                d="M155 0L159.49 13.8197H174.021L162.265 22.3607L166.756 36.1803L155 27.6393L143.244 36.1803L147.735 22.3607L135.979 13.8197H150.51L155 0Z"
                stroke="#838383"
                stroke-width="2"
            />
            <path
                d="M200 0L204.49 13.8197H219.021L207.265 22.3607L211.756 36.1803L200 27.6393L188.244 36.1803L192.735 22.3607L180.979 13.8197H195.51L200 0Z"
                stroke="#838383"
                stroke-width="2"
            />  
            </svg>
            <form method="POST" action="{{ url_for('download_ics_file') }}">
                <input type="hidden" name="preference" value="{{ event['notification_preference'] }}">
                <button name="export-calendar" id="btn-calendar" class="btn-calendar" value="{{ event['event'].id }}"> 
                    <svg
                        class="btn-calendar"
                        width="48"
                        height="54"
                        viewBox="0 0 48 54"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                        d="M0.0675 0V13.5H47.3175V0H0.0675ZM0.0675 20.25V53.3925C0.0675 53.73 0.3375 54 0.675 54H46.6425C46.98 54 47.25 53.73 47.25 53.3925V20.25H0H0.0675ZM6.8175 27H13.5675V33.75H6.8175V27ZM20.3175 27H27.0675V33.75H20.3175V27ZM33.8175 27H40.5675V33.75H33.8175V27ZM6.8175 40.5H13.5675V47.25H6.8175V40.5ZM20.3175 40.5H27.0675V47.25H20.3175V40.5Z"
                        fill="#7CA34A"
                        />
                    </svg>
                </button>
            </form>        
        </div>
    </div>
    <div class="sub-right">
        <form action="{{ url_for('my_account_notification') }}" method="POST" style="margin: 0%;">
            <div class="frame-info">
                <div class="event-name-txt">Name: {{ event['event'].name }}</div>
                <div class="event-details-txt">Date: {{ event['event'].date }}</div>
                <div class="event-details-txt">Time: {{ event['event'].time }}</div>
                <input type="hidden" name="updated_event_id" value="{{ event['event'].id }}">
                <div class="notif">
                    <label for="set-notif-{{ event.id }}" class="set-notif">Set to:</label>
                    <select id="set-notif-{{ event.id }}" name="updated_notification" class="dropdown" onchange="this.form.submit()">
                      <option value="30-mins" {% if event.notification_preference == 30 %}selected{% endif %}>30 minutes before</option>
                      <option value="1-hour" {% if event.notification_preference == 60 %}selected{% endif %}>1 hour before</option>
                      <option value="1-day" {% if event.notification_preference == 1440 %}selected{% endif %}>1 day before</option>
                      <option value="1-week" {% if event.notification_preference == 10080 %}selected{% endif %}>1 week before</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<hr color="#657895" width="95%" height="2px" />
{% endblock %}