{% extends "search_tab.html" %}
{% block content %}
<div class="dashboard">
  <div class="frame">
    <div class="board">
      <div class="top">
        <div class="frame-btn2">
          <div class="name"><b>{{ event.name }}</b></div>
          <form class="btn-bookmark-form" method="POST" action="/main_dashboard" style="margin: 0%;">
            <button class="btn-bookmark" type="submit" name="bookmark" value="{{ event['id'] }}">
                {% if event['id'] in bookmarked_events %}
                    <svg class="svg-event" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#A34A4A" stroke-linecap="round" stroke-width="2"><path d="m11 2c-3.77124 0-5.65685 0-6.82843 1.12874-1.17157 1.12874-1.17157 2.94542-1.17157 6.57879v8.27327c0 2.3059 0 3.4588.77285 3.8715 1.49662.7991 4.30395-1.8671 5.63715-2.6699.7732-.4656 1.1598-.6984 1.59-.6984s.8168.2328 1.59.6984c1.3332.8028 4.1405 3.469 5.6372 2.6699.7728-.4127.7728-1.5656.7728-3.8715v-6.9808" stroke-linejoin="round"/><path d="m13 6h8"/></g></svg>
                {% else %}
                    <svg class="svg-event" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#A34A4A" stroke-linecap="round" stroke-width="2"><path d="m11 2c-3.77124 0-5.65685 0-6.82843 1.12874-1.17157 1.12874-1.17157 2.94542-1.17157 6.57879v8.27327c0 2.3059 0 3.4588.77285 3.8715 1.49662.7991 4.30395-1.8671 5.63715-2.6699.7732-.4656 1.1598-.6984 1.59-.6984s.8168.2328 1.59.6984c1.3332.8028 4.1405 3.469 5.6372 2.6699.7728-.4127.7728-1.5656.7728-3.8715v-4.9808" stroke-linejoin="round"/><path d="m17 10v-8m-4 4h8"/></g></svg>
                {% endif %}
            </button>
        </form> 
          <form method="POST" action="{{ url_for('download_ics_file') }}" class="form-button">
            <button name="export-calendar" id="btn-calendar" class="btn" value="{{ event['id'] }}">
              <svg class="svg-event" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#4F7942" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m15 19.5c.4915.5057 1.7998 2.5 2.5 2.5m2.5-2.5c-.4915.5057-1.7998 2.5-2.5 2.5m0 0v-8"/><path d="m18 2v2m-12-2v2"/><path d="m12.5 22h-1.45c-4.03051 0-6.04576 0-7.29788-1.3536-1.25212-1.3537-1.25212-3.5323-1.25212-7.8896v-.5136c0-4.35726 0-6.53592 1.25212-7.88956s3.26737-1.35364 7.29788-1.35364h1.9c4.0305 0 6.0458 0 7.2979 1.35364 1.1788 1.27439 1.2478 3.28 1.2518 7.14636"/><path d="m3 8h18"/></g></svg>
            </button>
          </form> 
        </div>
        <form method="POST" action="{{ url_for('attend_event', event_id=event.id) }}" class="form-button">
            {% if flag == 'attending' %}
              <input type="hidden" name="action" value="unattend">
              <button class="btn-submit" type="submit" id="already-attend-btn">ALREADY ATTENDING</button>
            {% else %}
              <input type="hidden" name="action" value="attend">
              <button class="btn-submit" type="submit" id="attend-btn">ATTEND</button>
            {% endif %}
        </form>
      </div>
      <div class="middle">
          <img class="event-image" src="{{ url_for('static', filename='event_photos/' + event['event_type'].lower() + '.png') }}" alt="Event Image"/>
          <div class="frame-info">
            <div class="date">Date: {{ event.date }}</div>
            <div class="time">Time: {{ event.time }}</div>
            <div class="location">Location: {{ event.location }}</div>
          </div>
      </div>
      <div class="bottom">
        {% if event.reg_link %}
        <div class="registration">
            Register here: {{ event.reg_link }}
        </div>
        {% endif %}
        <div class="description">
            Event description: {{ event.description }}
        </div>
        <div class="rating">Ratings: 
          <div class="stars">
          {% set avg_rating = event['average_rating'] if event['average_rating'] is not none else 0 %}
          {% for i in range(1, 6) %}
              {% if i <= avg_rating %}
                  <!-- Full star -->
                  <svg class="svg-star" fill="#FF9900" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m13.7276 3.44418 1.7598 3.5487c.24.49399.8799.96782 1.4199 1.05855l3.1896.53432c2.0398.34278 2.5198 1.83485 1.0499 3.30675l-2.4797 2.5002c-.42.4234-.6499 1.24-.52 1.8248l.71 3.095c.5599 2.4498-.73 3.3975-2.8797 2.1171l-2.9897-1.7844c-.5399-.3226-1.4298-.3226-1.9798 0l-2.98963 1.7844c-2.13977 1.2804-3.43962.3226-2.87968-2.1171l.70992-3.095c.12998-.5848-.09999-1.4014-.51995-1.8248l-2.47972-2.5002c-1.45984-1.4719-.98989-2.96397 1.04988-3.30675l3.18965-.53432c.52994-.09073 1.16987-.56456 1.40984-1.05855l1.75979-3.5487c.9599-1.92557 2.5197-1.92557 3.4696 0z" stroke="#838383" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
              {% else %}
                  <!-- Empty star -->
                  <svg class="svg-star" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m13.7276 3.44418 1.7598 3.5487c.24.49399.8799.96782 1.4199 1.05855l3.1896.53432c2.0398.34278 2.5198 1.83485 1.0499 3.30675l-2.4797 2.5002c-.42.4234-.6499 1.24-.52 1.8248l.71 3.095c.5599 2.4498-.73 3.3975-2.8797 2.1171l-2.9897-1.7844c-.5399-.3226-1.4298-.3226-1.9798 0l-2.98963 1.7844c-2.13977 1.2804-3.43962.3226-2.87968-2.1171l.70992-3.095c.12998-.5848-.09999-1.4014-.51995-1.8248l-2.47972-2.5002c-1.45984-1.4719-.98989-2.96397 1.04988-3.30675l3.18965-.53432c.52994-.09073 1.16987-.56456 1.40984-1.05855l1.75979-3.5487c.9599-1.92557 2.5197-1.92557 3.4696 0z" stroke="#838383" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
              {% endif %}
          {% endfor %}
          </div>
          {% if flag == 'attending' %}
          <form method="POST" action="{{ url_for('set_rating') }}" class="form-show-rating" style="margin:0%">
            <input type="hidden" name="event_id" value="{{ event.id }}">
            <div class="rate">
              <select class="rate" id="updated_rating" name="updated_rating" onchange="this.form.submit()">
                <option value="0" {% if user_rating == 0 %}selected disabled{% endif %}>Rate this event</option> 
                <option value="5" {% if user_rating == 5 %}selected{% endif %}>5 stars</option>
                <option value="4" {% if user_rating == 4 %}selected{% endif %}>4 stars</option>
                <option value="3" {% if user_rating == 3 %}selected{% endif %}>3 stars</option>
                <option value="2" {% if user_rating == 2 %}selected{% endif %}>2 stars</option>
                <option value="1" {% if user_rating == 1 %}selected{% endif %}>1 star</option>
              </select>
            </div>
          </form>
          {% endif %}
        </div>       
      </div>
    </div>
  </div>
  {% if flag == 'attending' %}
  <div class="sidetab">
    <div class="show-notifications">
      <form method="POST" action="{{ url_for('set_notification', event_id=event.id) }}" class="form-show-notification">
        <!-- Hidden input to send the event_id to the backend -->
        <input type="hidden" name="event_id" value="{{ event.id }}">
        <label for="show-notification" class="show-notification-message">Allow setting notifications</label><br>
        <input type="checkbox" id="show-notifications" name="show-notification" value="show-notification" class="checkbox" onchange="this.form.submit()" {{ 'checked' if notification_checked else '' }}>
      </form>
    </div>
  </div>
  {% endif %}
</div>
<style>
.dashboard {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.board {
  background: #d9d9d9;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 1080px;
  border: 20px solid #786554;
}
.event-image {
flex-shrink: 0;
width: 365px;
height: 189px;
position: relative;
max-width: 95%;
max-height: 95%;
display: block;
border-radius: 15px;
border: 5px solid #656e7a;
object-fit: cover;
}
.top {
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.name {
  color: #000000;
  text-align: left;
  font: 400 36px "Ubuntu Condensed", sans-serif;
  position: relative;
  width: fit-content;
}
.middle {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-btn2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.form-button {
  margin-block-end: 0%;
}
.form-show-notification {
  margin: 0%;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-items: center;
}
.btn {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  background: transparent;
  border: none;
  padding: 0px;
}
.frame-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.date {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.time {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.location {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.bottom {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
}
.registration {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.description {
  color: #000000;
  text-align: left;
  font: 400 30px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.attend-button-container {
  display: flex;
  text-align: right;
  justify-content: flex-end; 
  align-items: center; 
  width: 100%;
}
#already-attend-btn {
  background:#cd6262;
  border:  #000000;
  color: #000000;
}
.btn-submit {
  background: #a2b7ca;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
  position: relative;
  cursor: pointer; 
  border: none; 
  color: #1e1e1e; 
  font: 700 30px "Ubuntu Mono", sans-serif; 
}
.show-notifications {
  display: flex;
  flex-direction: row;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox {
  background: #d9d9d9;
  width: 30px;
  height: 30px;
  position: relative;
}
.show-notification-message {
  color: #ffffff;
  text-align: left;
  font: 400 25px "Ubuntu Condensed", sans-serif;
  position: relative;
  width: 190px;
  display: inline-flex;
}
.sidetab {
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rate {
  font: 400 20px "Ubuntu Condensed", sans-serif;
}
.rating {
  font: 400 30px "Ubuntu Condensed", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.stars {
  display: flex;
  flex-direction: row;
}
.svg-star {
  width: 40px;
  height: 40px;
}
.svg-event {
  width: 50px;
  height: fit-content;
}
</style>  
{% endblock %}