{% block event %}
<div class="frame-event">
    <div class="left">
        <img src="{{ url_for('static', filename='event_photos/' + event['event_type'].lower() + '.png') }}" alt="Image" class="event-image">
        <svg class="rating" width="220" height="40" viewBox="0 0 220 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            {% set avg_rating = event['average_rating'] if event['average_rating'] is not none else 0 %}
            {% for i in range(1, 6) %}
                {% if i <= avg_rating %}
                    <!-- Full star -->
                    <path d="M{{ i * 40 - 20 }} 0L{{ i * 40 - 15.5097 }} 13.8197H{{ i * 40 }}L{{ i * 40 - 11.7557 }} 22.3607L{{ i * 40 - 7.2654 }} 36.1803L{{ i * 40 - 20 }} 27.6393L{{ i * 40 - 32.7557 }} 36.1803L{{ i * 40 - 28.2654 }} 22.3607L{{ i * 40 - 40.0211 }} 13.8197H{{ i * 40 - 24.4903 }}L{{ i * 40 - 20 }} 0Z" fill="#FF9900" stroke="#838383" stroke-width="2"/>
                {% else %}
                    <!-- Empty star -->
                    <path d="M{{ i * 40 - 20 }} 0L{{ i * 40 - 15.5097 }} 13.8197H{{ i * 40 }}L{{ i * 40 - 11.7557 }} 22.3607L{{ i * 40 - 7.2654 }} 36.1803L{{ i * 40 - 20 }} 27.6393L{{ i * 40 - 32.7557 }} 36.1803L{{ i * 40 - 28.2654 }} 22.3607L{{ i * 40 - 40.0211 }} 13.8197H{{ i * 40 - 24.4903 }}L{{ i * 40 - 20 }} 0Z" stroke="#838383" stroke-width="2"/>
                {% endif %}
            {% endfor %}
        </svg>        
    </div>
    <div class="right">
        <div class="frame-info">
            <div class="event-name-txt">Name: {{ event['name'] }}</div>
            <div class="event-details-txt">Date: {{ event['date'] }}</div>
            <div class="event-details-txt">Time: {{ event['time'] }}</div>
            <div class="event-details-txt">
                Location: {{ event['location'] }}
            </div>
        </div>
        <div class="frame-event-btn">
            <form class="btn-bookmark-form" method="POST" action="/main_dashboard">
                <button class="btn-bookmark" type="submit" name="bookmark" value="{{ event['id'] }}">
                    {% if event['id'] in bookmarked_events %}
                        <svg
                            class="btn-bookmark-svg"
                            width="27"
                            height="54"
                            viewBox="0 0 27 54"
                            fill="#A34A4A"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M12.7929 39.7929L1 51.5858V1H26V51.5858L14.2071 39.7929L13.5 39.0858L12.7929 39.7929Z"
                            stroke="#A34A4A"
                            stroke-width="2"
                            />
                        </svg>
                    {% else %}
                        <svg
                            class="btn-bookmark-svg"
                            width="27"
                            height="54"
                            viewBox="0 0 27 54"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M12.7929 39.7929L1 51.5858V1H26V51.5858L14.2071 39.7929L13.5 39.0858L12.7929 39.7929Z"
                            stroke="#A34A4A"
                            stroke-width="2"
                            />
                        </svg>
                    {% endif %}
                </button>
            </form> 
            <form method="POST" action="{{ url_for('download_ics_file') }}">
                <button name="export-calendar" id="btn-calendar" class="btn-calendar" value="{{ event['id'] }}"> 
                    <svg
                        class="btn-calendar"
                        width="48"
                        height="54"
                        viewBox="0 0 48 54"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                        d="M0.0675 0V13.5H47.3175V0H0.0675ZM0.0675 20.25V53.3925C0.0675 53.73 0.3375 54 0.675 54H46.6425C46.98 54 47.25 53.73 47.25 53.3925V20.25H0H0.0675ZM6.8175 27H13.5675V33.75H6.8175V27ZM20.3175 27H27.0675V33.75H20.3175V27ZM33.8175 27H40.5675V33.75H33.8175V27ZM6.8175 40.5H13.5675V47.25H6.8175V40.5ZM20.3175 40.5H27.0675V47.25H20.3175V40.5Z"
                        fill="#7CA34A"
                        />
                    </svg>
                </button>
            </form>
            <form method="POST" action="/main_dashboard">
                <button name="event-details" class="btn-event-details" value="{{ event['id'] }}">
                    <svg
                        class="btn-event-details"
                        width="68"
                        height="47"
                        viewBox="0 0 68 47"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                        d="M42.5 0V15.6667H0V31.3333H42.5V47L68 23.265L42.5 0Z"
                        fill="#657895"
                        />
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
{% include "base_event.html" %}
{% endblock %}