{% extends "search_tab.html" %}
{% block content %}
<div class="dashboard">
  <div class="frame">
    <div class="board">
      <div class="event-list">
        {% if error_msg != "" %}
          <div class="error">
            <p style="font-size: 50px;">Hmmm...</p>
            <p style="font-size: 30px;">{{ error_msg }}</p>
            <p style="font-size: 25px;">Try a different keyword. To return to main dashboard, click the T-board logo.</p>
          </div>
        {% endif %}
        {% for event in events %}
          {% with event=event %}
            {% include "event.html" %}
          {% endwith %}
        {% endfor %} 
      </div>
    </div>
  </div>
  <div class="sidetab">
    <svg class="icon-filter" onclick="toggleSidetab()" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="white" stroke-width="1.5"><path d="m21 17.5c0 1.933-1.567 3.5-3.5 3.5s-3.5-1.567-3.5-3.5 1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5z"/><path d="m17.5 14h-11c-1.933 0-3.5 1.567-3.5 3.5s1.567 3.5 3.5 3.5h11c1.933 0 3.5-1.567 3.5-3.5s-1.567-3.5-3.5-3.5z"/><path d="m3 6.5c0 1.933 1.567 3.5 3.5 3.5s3.5-1.567 3.5-3.5-1.567-3.5-3.5-3.5-3.5 1.567-3.5 3.5z"/><path d="m6.5 3h11c1.933 0 3.5 1.567 3.5 3.5s-1.567 3.5-3.5 3.5h-11c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5z"/></g></svg>
    <div class="sidetab_alt_text" id="sidetab_alt_text">
      <div class="details_text">
        ^ Click for a more detailed search
      </div>
    </div>
    <form action="/main_dashboard" method="POST" class="sidetab_filters" id="sidetab_filters">
      <div class="show-bookmark">
        <input type="checkbox" id="show-bookmarked" name="show-bookmarked" value="show-bookmarked" class="checkbox" onchange="this.form.submit()" {{ 'checked' if bookmark_checked else '' }}>
        <label for="show-bookmarked" class="show_bookmark_label">Show bookmarked events</label><br>
      </div>
      <div class = "apply_filter">
        {% for event_type in list_of_event_types %}
          <input class="checkbox" type="checkbox" id="filter_{{ event_type }}" name="filter" value="{{ event_type }}" onchange="this.form.submit()"  {{ 'checked' if event_type in event_types_checked else '' }}>
          <label class="show_filter_label" for="filter">{{ event_type }}</label>
        {% endfor %}
      </div>
      <div class="sort">
        <label for="sort-by" class="sort-by">Sort by:</label>
        <select id="sort-by" name="sort-by" class="dropdown" onchange="this.form.submit()">
          <option value="None" {% if sort_by == 'None' %}selected{% endif %}>None</option>
          <option value="asc-alphabetic" {% if sort_by == 'asc-alphabetic' %}selected{% endif %}>A to Z</option>
          <option value="desc-alphabetic" {% if sort_by == 'desc-alphabetic' %}selected{% endif %}>Z to A</option>
          <option value="asc-date" {% if sort_by == 'asc-date' %}selected{% endif %}>Oldest to Newest</option>
          <option value="desc-date" {% if sort_by == 'desc-date' %}selected{% endif %}>Newest to Oldest</option>
        </select>
      </div>
    </form>
  </div>
</div>

<script>
  function toggleSidetab() {
    const form = document.getElementById('sidetab_filters');
    const alt_text = document.getElementById('sidetab_alt_text');
    if (form.style.display === 'none' || form.style.display === '') {
      form.style.display = 'block';
      alt_text.style.display = 'none';
    } else {
      form.style.display = 'none';
      alt_text.style.display = 'block';
    }
  }
</script>


{% include "base_event.html" %}
<style>
.dashboard {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: stretch;
  justify-content: center;
  position: relative;
  width: 100%;
}
.frame {
  background: #786554;
  position: relative;
  padding: 20px 20px 20px 20px;
  overflow: visible;
  width: 1080px;
}
.board {
  background: #d9d9d9;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
}
.error {
  font: 400 30px "Ubuntu Condensed", sans-serif;  
  align-self: stretch;
  justify-self: stretch;
}
.sidetab {
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
}
.sidetab_alt_text {
  display: block;
  font: 400 25px "Ubuntu Condensed", sans-serif;
  color: white;
  line-height: 1.25;
  margin-bottom: 30px;
  text-align: center; /* This will center all text by default */
}
.sidetab_alt_text svg {
  display: inline-block;
  margin-left: 30px;
  align-items: center;
}
.details_text {
  text-align: left; 
  position: relative;
}
.sidetab_filters {
  display: none;
}
.show-bookmark {
  display: flex;
  flex-direction: row;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkbox {
  background: #d9d9d9;
  width: 20px;
  height: 20px;
  position: relative;
}
.show_bookmark_label {
  color: #ffffff;
  text-align: center;
  font: 400 17px "Ubuntu Mono", sans-serif;
  width: 200px;
  position: relative;
  display: inline-flex;
}
.show_filter_label {
  color: white;
  text-align: center;
  font: 400 17px "Ubuntu Mono", sans-serif;
  width: 90px;
  position: relative;
  display: inline-flex;
}
.icon-check {
  position: absolute;
  left: 4px;
  top: 69px;
  overflow: visible;
}
.sort {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
}
.dropdown {
  text-align: left;
  font: 400 24px "Ubuntu Mono", sans-serif;
  position: relative;
}
.sort-by {
  color: #ffffff;
  text-align: left;
  font: 400 24px "Ubuntu Mono", sans-serif;
  position: relative;
}
.icon-filter {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  width: 50px;
  height: 50px;
}
.apply_filter {
  color: white;
  text-align: left;
  font: 400 12px "Ubuntu Mono", sans-serif;
  position: relative;
  margin-bottom: 20px;
}
</style>
{% endblock %}