{% extends "search_tab.html" %}
{% block content %}
<div class="dashboard">
  <div class="frame">
    <div class="board">
      <div class="event-list">
        {% if error_msg != "" %}
          <div class="error">
            <p style="font-size: 50px;">Hmmm...</p>
            <p style="font-size: 30px;">{{ error_msg }}</p>
            <p style="font-size: 25px;">Try a different keyword. To return to main dashboard, click the T-board logo.</p>
          </div>
        {% endif %}
        {% for event in events %}
          {% with event=event %}
            {% include "event.html" %}
          {% endwith %}
        {% endfor %} 
      </div>
    </div>
  </div>
  <div class="sidetab">
    <svg class="icon-filter" onclick="toggleSidetab()" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m5.33008 2h13.33992c1.11 0 2.0201.90999 2.0201 2.01999v2.22c0 .81-.51 1.82001-1.01 2.32001" stroke-miterlimit="10"/><path d="m14.3206 19.0699c0 .61-.4001 1.41-.9101 1.72l-1.41.9101c-1.31.81-3.12996-.1001-3.12996-1.7201v-5.35c0-.71-.39999-1.62-.80999-2.12l-3.84003-4.03996c-.51-.51-.90997-1.40999-.90997-2.01999" stroke-miterlimit="10"/><path d="m16.0692 16.5201c1.7673 0 3.2-1.4327 3.2-3.2s-1.4327-3.2-3.2-3.2c-1.7674 0-3.2001 1.4327-3.2001 3.2s1.4327 3.2 3.2001 3.2z"/><path d="m19.8691 17.1201-1-1"/></g></svg>
    <div class="sidetab_alt_text" id="sidetab_alt_text" style="{{ 'display: none;' if not is_sidetab_visible else '' }}">
      <div class="details_text">
        Click the filter icon for more detailed search
      </div>
    </div>
    <form action="/main_dashboard" method="POST" class="sidetab_filters" id="sidetab_filters" style="{{ 'display: block;' if not is_sidetab_visible else '' }}">
      <div class="show-bookmark">
        <input type="checkbox" id="show-bookmarked" name="show-bookmarked" value="show-bookmarked" class="checkbox" onchange="this.form.submit()" {{ 'checked' if bookmark_checked else '' }}>
        <label for="show-bookmarked" class="show_bookmark_label">Show bookmarked events</label><br>
      </div>
      <div class = "apply_filter">
        {% for event_type in list_of_event_types %}
          <input class="checkbox" type="checkbox" id="filter_{{ event_type }}" name="filter" value="{{ event_type }}" onchange="this.form.submit()"  {{ 'checked' if event_type in event_types_checked else '' }}>
          <label class="show_filter_label" for="filter">{{ event_type }}</label>
        {% endfor %}
      </div>
      <div class="sort">
        <label for="sort-by" class="sort-by">Sort by:</label>
        <select id="sort-by" name="sort-by" class="dropdown" onchange="this.form.submit()">
          <option value="None" {% if sort_by == 'None' %}selected{% endif %}>None</option>
          <option value="asc-alphabetic" {% if sort_by == 'asc-alphabetic' %}selected{% endif %}>A to Z</option>
          <option value="desc-alphabetic" {% if sort_by == 'desc-alphabetic' %}selected{% endif %}>Z to A</option>
          <option value="asc-date" {% if sort_by == 'asc-date' %}selected{% endif %}>Oldest to Newest</option>
          <option value="desc-date" {% if sort_by == 'desc-date' %}selected{% endif %}>Newest to Oldest</option>
        </select>
      </div>
    </form>
  </div>
</div>

<script>
function toggleSidetab() {
  const form = document.getElementById('sidetab_filters');
  const alt_text = document.getElementById('sidetab_alt_text');
  let isSidetabVisible;

  if (form.style.display === 'block') {
    form.style.display = 'none';
    alt_text.style.display = 'block';
    isSidetabVisible = true;
  } else {
    form.style.display = 'block';
    alt_text.style.display = 'none';
    isSidetabVisible = false;
  }

  fetch('/set_sidetab_state', {
    method: 'POST',
    body: JSON.stringify({ 'isSidetabVisible': isSidetabVisible }),
    headers: {
      'Content-Type': 'application/json'
    }
  }).then(response => response.json())
    .then(data => console.log(data))
    .catch((error) => {
      console.error('Error:', error);
    });
}

  (function(global) {
    if (typeof(global) === "undefined") {
      throw new Error("window is undefined");
    }

    var _hash = "!";
    var noBackPlease = function() {
      global.location.href += "#";
      global.setTimeout(function() {
        global.location.href += "!";
      }, 50);
    };

    global.onhashchange = function() {
      if (global.location.hash !== _hash) {
        global.location.hash = _hash;
      }
    };

    global.onload = function() {
      noBackPlease();
      document.body.onkeydown = function(e) {
        var elm = e.target.nodeName.toLowerCase();
        if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
          e.preventDefault();
        }
        e.stopPropagation();
      };
    };
  })(window);
</script>

{% include "base_event.html" %}
<style>
.dashboard {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: stretch;
  justify-content: center;
  position: relative;
  width: 100%;
}
.board {
  background: #d9d9d9;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 1080px;
  border: 20px solid #786554;
}
.error {
  font: 400 30px "Ubuntu Condensed", sans-serif;  
  align-self: stretch;
  justify-self: stretch;
}
.sidetab {
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
  max-width: 250px;
}
.sidetab_alt_text {
  display: block;
  font: 400 25px "Ubuntu Condensed", sans-serif;
  color: white;
  line-height: 1.25;
  text-align: left;
}
.sidetab_alt_text svg {
  display: inline-block;
  margin-left: 30px;
  align-items: center;
}
.details-text {
  text-align: left; 
  position: relative;
  color: white;
  font: 400 20px "Ubuntu Condensed", sans-serif;
}
.sidetab_filters {
  display: none;
}
.show-bookmark {
  display: flex;
  flex-direction: row;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkbox {
  background: #d9d9d9;
  width: 20px;
  height: 20px;
  position: relative;
}
.show_bookmark_label {
  color: white;
  text-align: center;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  width: 200px;
  position: relative;
  display: inline-flex;
}
.show_filter_label {
  color: white;
  text-align: center;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  width: 90px;
  position: relative;
  display: inline-flex;
}
.icon-check {
  position: absolute;
  left: 4px;
  top: 69px;
  overflow: visible;
}
.sort {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
}
.dropdown {
  text-align: left;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.sort-by {
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  font: 400 20px "Ubuntu Condensed", sans-serif;
}
.icon-filter {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
  width: 50px;
  height: 50px;
}
.apply_filter {
  color: white;
  text-align: left;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  position: relative;
  margin-bottom: 20px;
}
</style>
{% endblock %}