{% extends "my_account.html" %}
{% block tab %}
<div class="friends-tab">
  <div class="frame-tab">
    <div class="my-events-tab">
        <a href="{{ url_for('my_account_myevents') }}"> 
          <svg class="events" width="58" height="50" viewBox="0 0 58 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 0V21.4286H21.4286V0H0ZM28.5714 0V7.14286H57.1429V0H28.5714ZM28.5714 14.2857V21.4286H50V14.2857H28.5714ZM0 28.5714V50H21.4286V28.5714H0ZM28.5714 28.5714V35.7143H57.1429V28.5714H28.5714ZM28.5714 42.8571V50H50V42.8571H28.5714Z"
              fill="white" />
          </svg>
        </a>
    </div>
    <div class="event-history-tab">
      <a href="{{ url_for('my_account_event_history') }}">
        <svg
          class="history"
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.9375 0C38.6875 0 49.9375 11.25 49.9375 25C49.9375 38.75 38.6875 50 24.9375 50C18.0625 50 11.6875 47.3125 7.1875 42.75L11.6875 38.25C15.0625 41.625 19.75 43.75 25 43.75C35.375 43.75 43.75 35.375 43.75 25C43.75 14.625 35.375 6.25 25 6.25C19.8125 6.25 15.3125 8.5 11.9375 11.9375L18.75 18.75H5.24044e-06V0L7.4375 7.4375C11.9375 2.9375 18.125 0 25 0H24.9375Z"
            fill="#1E1E1E"
          />
          <line
            x1="24.833"
            y1="14.1665"
            x2="24.833"
            y2="26.6665"
            stroke="#1E1E1E"
            stroke-width="3"
          />
          <line
            x1="35.087"
            y1="31.6996"
            x2="24.2518"
            y2="25.4668"
            stroke="#1E1E1E"
            stroke-width="3"
          />
        </svg>
      </a>
    </div>
    <div class="friends-tab2">
      <svg class="friends" width="75" height="50" viewBox="0 0 75 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M25 0C18.125 0 12.5 7 12.5 15.625C12.5 24.25 18.125 31.25 25 31.25C31.875 31.25 37.5 24.25 37.5 15.625C37.5 7 31.875 0 25 0ZM11.9375 31.25C5.3125 31.5625 0 37 0 43.75V50H50V43.75C50 37 44.75 31.5625 38.0625 31.25C34.6875 35.0625 30.0625 37.5 25 37.5C19.9375 37.5 15.3125 35.0625 11.9375 31.25Z"
          fill="#202E44" />
        <path d="M59.3846 0V9.29969H50.085V15.4995H59.3846V24.7992H65.5844V15.4995H74.8841V9.29969H65.5844V0H59.3846Z"
          fill="#202E44" />
      </svg>
    </div>
    <div class="notification-tab">
      <a href="{{ url_for('my_account_notification') }}"> 
        <svg class="alarm" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M25 0C18.125 0 12.5 5.625 12.5 12.5C12.5 19 9.25 24.875 4.125 29.125C1.5625 31.25 0 34.25 0 37.5H50C50 34.25 48.5 31.25 45.875 29.125C40.75 24.875 37.5 19 37.5 12.5C37.5 5.625 31.9375 0 25 0ZM18.75 43.75C18.75 47.1875 21.5625 50 25 50C28.4375 50 31.25 47.1875 31.25 43.75H18.75Z"
            fill="#FFC633" />
        </svg>
      </a>
    </div>
    <div class="settings-tab">
      <a href="{{ url_for('my_account_settings') }}"> 
        <svg
          class="settings"
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.8828 0L18.7656 7.41895C18.1421 7.60598 17.581 7.91771 17.0199 8.22943L9.601 5.11222L5.11222 9.601L8.22943 17.0199C7.9177 17.6434 7.66833 18.1421 7.41895 18.7656L0 21.8828V28.1172L7.41895 31.2344C7.66833 31.8579 7.9177 32.3566 8.22943 32.98L5.11222 40.399L9.601 44.8878L17.0199 41.7706C17.581 42.0199 18.1421 42.3317 18.7656 42.581L21.8828 50H28.1172L31.2344 42.581C31.7955 42.3317 32.419 42.0823 32.9801 41.7706L40.399 44.8878L44.8878 40.399L41.7706 32.98C42.0199 32.419 42.3317 31.7955 42.581 31.2344L50 28.1172V21.8828L42.581 18.7656C42.394 18.2045 42.0823 17.581 41.7706 17.0199L44.8878 9.601L40.399 5.11222L32.9801 8.22943C32.419 7.98005 31.7955 7.66833 31.2344 7.41895L28.1172 0L21.8828 0ZM25 15.586C30.1746 15.586 34.3516 19.7631 34.3516 24.9377C34.3516 30.1122 30.1746 34.2893 25 34.2893C19.8254 34.2893 15.6484 30.1122 15.6484 24.9377C15.6484 19.7631 19.8254 15.586 25 15.586Z"
            fill="#D9D9D9"
          />
        </svg>
      </a>
    </div>    
  </div>
  <div class="frame-content">
    <div class="frame-top">
      <div class="search-friend">
        <form method="GET" action="{{ url_for('my_account_friends') }}" class="search-friend-form">
          <input type="text" class="input-search-friend" id="input-search-friend" name="search" placeholder="Search friends..." required>
          <button class="btn-search-friend">
            <svg class="icon-magnifying-glass2" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#141b34" stroke-width="1.5"><path d="m14 14 2.5 2.5" stroke-linejoin="round"/><path d="m16.4333 18.5252c-.5777-.5777-.5777-1.5143 0-2.0919.5776-.5777 1.5142-.5777 2.0919 0l3.0415 3.0415c.5777.5777.5777 1.5143 0 2.0919-.5776.5777-1.5142.5777-2.0919 0z" stroke-linecap="round"/><path d="m16 9c0-3.86599-3.134-7-7-7-3.86599 0-7 3.13401-7 7 0 3.866 3.13401 7 7 7 3.866 0 7-3.134 7-7z" stroke-linejoin="round"/></g></svg>
          </button>
        </form>
      </div>
      <svg class="add-friend" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#141b34" stroke-width="1.5"><path d="m12.5 22h-5.90913c-1.54538 0-2.77456-.752-3.87821-1.8034-2.259295-2.1525 1.45014-3.8726 2.86491-4.715 2.1008-1.2509 4.55923-1.7097 6.92243-1.3764.8575.1209 1.6926.3462 2.5.6757" stroke-linecap="round" stroke-linejoin="round"/><path d="m16.5 6.5c0 2.48528-2.0147 4.5-4.5 4.5-2.48528 0-4.5-2.01472-4.5-4.5s2.01472-4.5 4.5-4.5c2.4853 0 4.5 2.01472 4.5 4.5z"/><path d="m18.5 22v-7m-3.5 3.5h7" stroke-linecap="round"/></g></svg>
    </div>
    <div class="friends-list">
      {% if friends %}  
        {% for friend in friends %}
          <div class="friend-item">
            <div class="account-wrapper">
              {% if friend.profile_picture.lower() == "default" %}
                <svg
                  class="account"
                  width="80"
                  height="80"
                  viewBox="0 0 80 80"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="40" cy="40" r="38" fill="#657895" />
                  <!-- Add your SVG path for the default image here -->
                </svg>
              {% else %}
                <svg
                  class="account"
                  width="80"
                  height="80"
                  viewBox="0 0 80 80"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <defs>
                    <clipPath id="circleView{{ loop.index }}">
                      <circle cx="40" cy="40" r="38"/>
                    </clipPath>
                  </defs>
                  <image
                    href="{{ url_for('static', filename='profile_picture/' + friend.profile_picture.lower() + '.png') }}"
                    width="80"
                    height="80"
                    clip-path="url(#circleView{{ loop.index }})"
                  />
                  <circle
                    cx="40"
                    cy="40"
                    r="38"
                    fill="none"
                    stroke="#7CA34A"
                    stroke-width="3"
                  />
                </svg>
              {% endif %}

            </div>
            <div class="name">{{ friend.username }}</div>
          </div>
        {% endfor %}
      {% else %}
      <div class="no-friends">
        You have no friends added
      </div>
      {% endif %}
  </div>
</div>
<style>
.friends-tab {
  width: 100%;
  height: 100%;
}
.frame-tab {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  height: fit-content;
}
.my-events-tab {
  background: #657895;
  border-radius: 10px;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.events {
  position: relative;
  overflow: visible;
}
.event-history-tab {
  background: #657895;
  border-radius: 10px;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.history {
  position: relative;
  overflow: visible;
}
.friends-tab2 {
  background: #a2b7ca;
  border-radius: 10px;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.add-friend {
  position: relative;
  overflow: visible;
  width: 40px;
  height: 40px;
}
.notification-tab {
  background: #657895;
  border-radius: 10px;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.alarm {
  position: relative;
  overflow: visible;
}
.settings-tab {
  background: #657895;
  border-radius: 10px;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.settings {
  position: relative;
  overflow: visible;
}
.frame-content {
  background: #a2b7ca;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  top: -15px;
  position: relative;
}
.frame-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 1;
  position: relative;
  gap: 30px;
}
.search-friend {
  background: #ebebeb;
  border-radius: 10px;
  display: flex;
  flex-direction: reverse;
  align-items: center;
  flex-shrink: 1;
  width: 750px;
  height: 45px;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  padding: 5px 10px 5px 10px;
}
.search-friend-form {
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 45px;
  margin: 0%;
  align-items: center;
  justify-content: center;
}
.btn-search-friend {
  background-color: transparent;
  border: transparent;
  width: fit-content;
  height: fit-content;
  padding: 0%;
}    
#input-search-friend {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  font: 400 25px "Ubuntu Condensed", sans-serif;    
}
.txt2 {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font: 400 32px "Ubuntu Mono", sans-serif;
  position: relative;
}
.icon-magnifying-glass2 {
  position: relative;
  overflow: visible;
  width: 30px;
  height: 30px;
}
.friend {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.name {
  color: #000000;
  text-align: left;
  font: 400 36px "Ubuntu Condensed", sans-serif;
  position: relative;
}
.account4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.account5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.account6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.friend-item {
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers the items vertically */
  margin-bottom: 10px; /* Adds space between each friend entry */
}
.friend-item .account-wrapper {
  margin-right: 10px; /* Adds some space between the picture and the username */
}
.friends-list {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; /* Aligns items to the start of the flex container (left side) */
}
.no-friends {
  color: #1e1e1e;
  text-align: left;
  font: 400 25px "Ubuntu Condensed", sans-serif;
  position: relative;
  width: 100%;
}

</style>
{% endblock %}