{% extends "search_tab.html" %}
{% block content %}
<div class="dashboard">
  <div class="frame">
    <div class="board">
      <div class="event-details">
        <div class="top">
          <div class="left">
            <img class="image-1" src="image-1.png" />
            <div class="btn-edit">
              <svg
                class="icon-pencil"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30 0L25 5L35 15L40 10L30 0ZM20 10L0 30V40H10L30 20L20 10Z"
                  fill="#657895"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="input">
            <!-- <div class="input-name"></div> -->
            <input type = "text" id="input-name" name="input-name" placeholder="Enter name of the event">
            <div class="input-txt">Name of the event</div>
          </div>
          <div class="input">
            <!-- <div class="input-date"></div> -->
            <input type = "text" id="input-date" name="input-date" placeholder="Specify date of the event">
            <div class="input-txt">Date of the event</div>
          </div>
          <div class="input">
            <!-- <div class="input-time"></div> -->
            <input type = "text" id="input-time" name="input-time" placeholder="Specify time of the event">
            <div class="input-txt">Time of the event</div>
          </div>
          <div class="input">
            <!-- <div class="input-loc"></div> -->
            <input type = "text" id="input-loc" name="input-loc" placeholder="Specify location of the event">
            <div class="input-txt">Location of the event</div>
          </div>
          <div class="input">
            <!-- <div class="input-reg"></div> -->
            <input type = "text" id="input-reg" name="input-reg" placeholder="Add registration link (optional)">
            <div class="input-txt">Registration link (optional)</div>
          </div>
          <div class="input">
            <!-- <div class="input-desc"></div> -->
            <textarea id="input-desc" name="input-desc" placeholder="Add description of the event"></textarea>
            <div class="input-txt">Description</div>
          </div>
          <div class="btn-frame">
            <a href="{{ url_for('main_dashboard') }}" class="btn-submit">
              <div class="btn-txt">SUBMIT</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "base_input.html" %}
<style>
.dashboard {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.frame {
  background: #786554;
  position: relative;
  padding: 20px 20px 20px 20px;
  width: 1007px;
  overflow: visible;
}
.board {
  background: #d9d9d9;
  position: relative;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.event-details {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  position: relative;
}
.image-1 {
  flex-shrink: 0;
  width: 365px;
  height: 189px;
  position: relative;
}
.btn-edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-pencil {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
#input-name {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#input-date {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#input-time {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#input-loc {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#input-reg {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#input-desc {
  background: #ffffff;
  border-radius: 5px;
  height: 150px;
  width: 100%;
  position: relative;
  font: 400 20px "Ubuntu Condensed", sans-serif;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-frame {
  width: 100%;
  display: flex;
  padding: 20px 20px 20px 20px;
  align-items: center;
  justify-content: center;
  position: relative;  
}
.btn-submit {
  background: #a2b7ca;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  position: relative;
}
.btn-txt {
  color: #1e1e1e;
  text-align: center;
  font: 700 30px "Ubuntu Mono", sans-serif;
  position: relative;
}
</style>
{% endblock %}